# used in tandem with package.json engines section to only use yarn
engine-strict=true
registry=https://registry.npmjs.org/
@ajabhijeet21-internal:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
